.button--add {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 9999;
  transform: translateY(50%);
  display: flex;
  height: 5rem;
  width: 5rem;
  border: var(--border);
  border-radius: 50%;
  color: var(--text-dark);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.75rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 50em) {
  .button--add {
    right: 3rem;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 80em) {
  .button--add {
    right: 4rem;
  }
}

.button--add:hover {
  color: var(--text);
  background-color: var(--accent-colour);
}

.table {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
}

.table__cell {
  padding: 1.25rem 1rem;
}

.table__cell--header {
  text-align: left;
  padding: 0.5rem 1rem;
  border-bottom: var(--border);
}

.table__link {
  color: inherit;
  text-decoration: none;
}

.table__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-colour);
}

.table__movieTitle {
  font-weight: 600;
}

.table__movieDirector {
  font-size: 0.85em;
}

.table__empty {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

.home__movies {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0 7rem;
  position: relative;
}

.home__pagination-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 40rem;
  padding-right: 40rem;
  padding-bottom: 2rem;
  position: relative;
}

.home__pagination-bottom {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 40rem;
  padding-right: 40rem;
  padding-top: 2rem;
  position: relative;
}

.page__link {
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.page__link:hover {
  transform: scale(1.7);
  z-index: 1;
}

.page__link-active {
  color: var(--accent-colour);
}

.home__pagination-info {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding-left: 10rem;
}

.movie__list {
  width: 20%;
  padding: 15px;
  text-align: center;
}

.movie__cover {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.movie__cover:hover {
  transform: scale(1.1);
  z-index: 1;
}