{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies.css') }}" />
{% endblock %}

{% block main_content %}
    {% set start = (page - 1)*per_page %}
    {% set end = page*per_page %}
    <p class="home__pagination-info">{{ start + 1 }} - {{ end }} from {{ movies_len }}</p>
    <div class="home__pagination-top">
        {% for i in range(paging_range) %}
            <a href="{{ url_for('pages.index', page=i+1) }}" class="table__link page__link {{ 'page__link-active' if page == i+1 }}">{{ i + 1 }}</a>
        {% endfor %}
    </div>
    <div class="home__movies">
    {% for i in range(start, end) if i < movies_len %}
        {% set movie = movies_data[i] %}
        <div class="movie__list">
            <a href="{{ url_for('pages.movie', _id=movie._id) }}" class="table__link">
                <img src="{{ movie.cover_photo }}" alt="View {{ movie.title }}" class="movie__cover">
            </a>
        </div>
    {% endfor %}
    </div>
    <div class="home__pagination-bottom">
        {% for i in range(paging_range) %}
            <a href="{{ url_for('pages.index', page=i+1) }}" class="table__link page__link {{ 'page__link-active' if page == i+1 }}">{{ i + 1 }}</a>
        {% endfor %}
    </div>

    <a href="{{ url_for('pages.add_movie') }}" class="button button--add">
        <span>+</span>
    </a>

{% endblock %}